@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  height: 100vh;
  /* background-color: #f5a4ae; */
  background-image: url('assets/whitespace-3435350_1920.jpg');
  background-size: cover ;

}
.app{
  position: relative;
}